/* Autor: Selim */

.FakeButtonStyle {
	display: inline-block;
	width: 190px;
	height: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; 
	border: none; 
	border-radius: 5px; 
	font-size: 14px;
	text-decoration: none;
	text-align: center;
}

.FakeButtonStyle:hover {
	background-color: #0056b3;
}