/* Autor: Selim, Can */

/* Deaktiviert die Textauswahl auf der gesamten Webseite */
body {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Standard */
}

/* Timer- und Logout-Button Container */
.timer-logout-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #b89e14; 
	padding: 1px; 
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in-out; 
}

#timer {
	margin-top: 1px;
	font-size: 14px;
	color: white;
	margin-bottom: 2px; 
	transition: font-size 0.2s ease-in-out;
}

.divider {
	width: 75%;
	border: none;
	border-top: 1.5px solid white;
	margin: 0px; 
}

.logout-button {
	color: white;
	border: none;
	border-radius: 0px; 
	margin-top: 1px; 
	margin-bottom: 1px;
	transition: font-size 0.2s ease-in-out;
}

/* Navigation horizontal */
.container {
	position: absolute;
	left: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
}

.image {
	height: 60px;
	max-width: 60px;
	margin: 3px;
	margin-top: 8px;
	left: 12px;
	position: fixed;
}

.accountBild {
	position: fixed;
	width: 60px; 
	height: 60px; 
	transition: width 0.2s ease-in-out, height 0.3s ease-in-out, right 0.3s ease-in-out, top 0.3s ease-in-out;
}

.accountBild.small-account-image {
	width: 36px; 
	height: 36px; 
	right: 80px; 
	top: 3.5px; 
}

.imageMitLink {
	/* Neuer Style für das Logo ganz oben mit Link zur Startseite */
	position: absolute;
	height: 60px;
	max-width: 60px;
	left: 12px;
	margin-top: -26px;
	margin-left: 3px;
}

.company-name {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	margin-left: 75px;
	color: rgb(55, 81, 128);
}

.companyNameLink {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	display: flex;
	flex-direction: column;
	margin-left: 75px;
	color: rgb(55, 81, 128);
}

nav {
	position: fixed;
	left: 0;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	z-index: 1000;
	height: 80px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav.small {
	background-color: #d1d1d1; 
	transition: background-color 0.2s ease-in-out;
}

nav.small a {
	color: white; 
	transition: color 0.2s ease-in-out;
}

nav ul {
	align-items: center;
	border: none; 
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
}

li:last-child {
	position: absolute;
	right: 0;
}

.accountBild {
	position: absolute;
	right: 110px;
	top: 10px;
}

nav ul li:last-child a {
	color: #941100;
	white-space: pre-wrap;
}

nav li {
	margin: 0 15px;
}

@media ( min-width : 45em) {
	nav ul {
		flex-direction: row;
	}
	nav li {
		flex: 1;
		font-size: 1em;
	}
}

nav a {
	padding-bottom: 3px; 
	text-decoration: none;
	color: black;
	font-size: 14px;
	transition: all 0.15s ease-in;
}

nav li:not(.no-hover) a:focus,
nav li:not(.no-hover) a:hover,
nav li:not(.no-hover) a.active {
    color: gold;
    position: relative;
    color: rgb(55, 81, 128); 
    background-color: var(--accent1-color);
}

nav a.active::after {
	content: ''; 
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%; 
	height: 2px;
	background-color: #b89e14; 
}

/* Ende horizontale Navigation */

/* Footer-Stile */
footer {
	height: 40px;
	position: fixed;
	justify-content: center;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #d1d1d1;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0px;
	transition: bottom 1s ease; 
}

footer nav ul {
	list-style: none;
	padding: 0;
}

footer nav ul li {
	display: inline;
	margin: 0 1rem;
}

footer nav ul li a {
	color: white;
	text-decoration: none;
}

footer nav ul li a:hover {
	text-decoration: underline;
}