/* Autor: ... */

@import url('style.css');
@import url('javascriptMeldung.css');



/* liste resetten wegen navigation (nach rechts gerutscht) */
.reset-ul {
    list-style: disc; /* Default list style */
    padding-left: 40px; /* Default padding */
    margin: 10px 0; /* Default margin */
    position: relative; /* Ensure these elements are positioned normally */
}
.reset-ul li {
    position: static; /* Override any absolute positioning */
    margin-bottom: 5px; /* Add some space between items */
}

.bold {
	font-weight: bold;
}

#weiteres {
	padding: 10px 0px 10px 60px;
	color: black; /* Ändere die Textfarbe auf rot */
	font-size: 1.5em;
	font-family: Verdana, sans-serif;
	/* Füge weitere CSS-Regeln hinzu, um die Formatierung anzupassen */
	background-color: #ddd;
}

/* FAQ-Stile */
.faq-section {
    width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
    padding-left: 60px; /* Abstand von links */
}

.faq-question {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.faq-answer {
    margin: 5px 0 0 0;
    padding-left: 20px;
    position: relative;
}

.faq-answer::before {
    content: '→'; /* Pfeil vor der Antwort */
    position: absolute;
    left: -20px;
    color: #000;
}

.vorteile {
	width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.regBox {
	width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.buttonStyle {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; /* Ändere den Padding nach Bedarf */
	border: none; /* Entfernt die Standard-Bordereigenschaften */
	border-radius: 5px; /* Rundet die Ecken des Buttons */
	font-size: 14px; /* Ändere die Schriftgröße nach Bedarf */
}

.karriereBox {
	width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}