/* Autor: Diane */
/* validiert */

/* Globale Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 60px; /* Platz für den Footer reservieren */
}

header, nav, aside, article, footer {
    margin: 5px;
    padding: 5px;
}

/* Header-Stile */
header {
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    padding: 20px;
}

/* Footer-Stile */
footer {
	height: 40px;
	position: fixed;
	justify-content: center;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #d1d1d1;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0px;
	transition: bottom 1s ease; /* Fügt eine sanfte Animation hinzu */
}
/* Um den Footer beim Hochscrollen zu verstecken */


/* Navigation-Stile */
nav {
    font-size: 14px;
    height: 80px;
    background-color: #444;
    color: #fff;
    padding: 5px;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
}

/* Link-Stile */
.white-anchor {
    font-size: 16px;
    color: #ffffff; /* Weiß */
    text-decoration: none; /* Keine Unterstreichung */
}

.black-anchor {
    font-size: 16px;
    color: #000000; /* Schwarz */
    text-decoration: underline; /* mit Unterstreichung */
}

a:hover {
    text-decoration: underline; /* Unterstreichung bei Hover */
}

/* Sidebar-Stile */
aside {
    background-color: #ddd;
    padding: 10px;
}

/* Artikel-Stile */
article {
    background-color: #fff;
    padding: 20px;
}

/* Formular-Stile */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"] {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Stil für Submit-Button */
button[type="submit"],
button[type="reset"],
button[type="register"] {
    width: auto;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px; /* Ändere den Padding nach Bedarf */
    border: none; /* Entfernt die Standard-Bordereigenschaften */
    border-radius: 5px; /* Rundet die Ecken des Buttons */
    font-size: 14px; /* Ändere die Schriftgröße nach Bedarf */
}

/* Button: Hover-Effekt */
button[type="submit"]:hover,
button[type="register"]:hover{
    background-color: #0056b3; /* Ändere die Hintergrundfarbe im Hover-Zustand */
}


/* Stil für das Select-Element */
select {
    width: 200px; /* Füllt die gesamte verfügbare Breite */
    height: 50px; /* Ändere die Höhe nach Bedarf */
    padding: 10px; /* Fügt etwas Platz um den Text ein */
    box-sizing: border-box; /* Inkludiert das Padding in die Gesamtbreite */
}

/* Stil für das Textfeld */
textarea {
    width: 80%; /* Füllt die gesamte verfügbare Breite */
    height: 250px; /* Ändere die Höhe nach Bedarf */
    padding: 10px; /* Fügt etwas Platz um den Text ein */
    box-sizing: border-box; /* Inkludiert das Padding in die Gesamtbreite */
}