/* Autor: @Can*/
/* validiert */

@import url('popup.css');
@import url('cookiePopup.css');
@import url('navigation.css');

/* Globale Stile */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 60px;
	background-image: url('../img/BildUeberweisung.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	padding: 7rem;
	line-height: 1.6;
}


section {
	background-color: white;
	margin: 1rem auto;
	padding: 1rem;
	border-radius: 5px;
	max-width: 600px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	min-width: 600px;
}

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

legend {
	font-weight: bold;
}

.form-group {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

label[for="verwendungszweck"]+span {
	display: block;
	width: 100%;
	
}

label[for="verwendungszweck"]+span p, label[for="verwendungszweck"]+span span
	{
	word-break: break-all;
	
}

.form-group label {
	flex: 0 0 150px;
	margin-right: 1rem;
}

.form-group label:last-child {
	color: #941100;
}

.form-group span {
	word-wrap: break-word;
	max-width: 100%;
}

.form-group input {
	flex: 1;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.account-info {
	display: flex;
	justify-content: space-between;
}

.account-info .iban-info {
	text-align: left;
}

.account-info .saldo-info {
	text-align: right;
}

.account-info .iban-info span, .account-info .saldo-info span {
	display: block;
	text-align: inherit;
}

fieldset.account-info-container {
	background-color: #e3e6e6;
	margin: 0;
	border: none;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1rem;
}

textarea {
	min-height: 8rem;
	width: 100%;
	resize: none;
	border: 1px solid #ccc;	
	border-radius: 5px;
}

.small-text {
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

.hint-text {
	font-size: 0.8rem;
	margin: 0.5rem 0 0 0;
	margin-top: -15px;
	word-wrap: break-word;
}

.button-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

/* Stil für Submit-Button im Formular */
button[type="submit"], button[type="reset"] {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}

.buttonStyle {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; 
	border: none; 
	border-radius: 5px; 
	font-size: 14px;
	text-decoration: none;
}

.buttonStyle:hover {
	background-color: #286090;
}

/* Button-Hover-Effekt */
button[type="submit"]:hover, button[type="reset"]:hover {
	background-color: #0056b3;
}

.korrigieren-button {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
}

.korrigieren-button:hover {
	background-color: #0056b3;
}

.new-transfer-header-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;
}

.new-transfer-header {
	margin-right: auto;
	align-self: baseline;
}

.progress-container {
	display: flex;
	align-items: center;
	margin-right: 1rem;
}

.step {
	background-color: #b89e14;
	color: white;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 0.6em;
}

.step-description {
	margin-left: 5px;
	font-weight: bold;
	font-size: 0.7em;
}

.second-step {
	background-color: gray;
}

.step-description-2 {
	margin-left: 5px;
	font-size: 0.6em;
}

.img-container {
	display: flex;
	justify-content: center;
}

.img-container img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.form-group {
	position: relative;
	margin-bottom: 1.5em;
}

.form-group input {
	width: calc(100% - 40px);
	padding-right: 40px;
}

label#done {
	text-align: center; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px; 
}

.form-group .icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5em;
}

.form-group .icon.success {
	color: #b89e14;
}

.form-group .icon.error {
	color: #941100;
}

.error-message {
	color: #941100;
}

.error-message-container {
	text-align: center;
	color: #941100;
	margin-top: 0.5em;
}

.link-logo {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: -7px;
}