@import url('navigation.css');

/* Globale Stile */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 60px; /* Platz für den Footer reservieren */
}

/* User-Startseite und Kontostand */
.grauBackground {
	background-color: #d1d1d1;
	box-sizing: border-box;
	padding: 6px 0px 6px 60px;
	width: 100%;
}

.profile-box {
	display: flex; /* Flexbox verwenden */
	align-items: center; /* Elemente vertikal zentrieren */
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 15px;
	margin: 15px auto 20px 0;
	/* Margin oben/unten auf 30px setzen, automatisch auf der linken Seite, und 30px auf der rechten Seite */
	max-width: 600px; /* Maximale Breite des Profilkastens festlegen */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.profile-box img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
	border: 1px solid #b89e14;
	margin-right: 10px; /* Abstand zwischen Profilbild und Anrede */
}

.profile-box #greeting {
	font-size: 24px;
	font-weight: bold;
	margin-right: 15px; /* Abstand zwischen Anrede und Profiltext */
}

.kontoinformationen {
	background: linear-gradient(to bottom, rgba(184, 158, 20, 0.8) 25%,
		rgba(255, 255, 255, 0) 25%);
	display: inline-block; /* Flexbox verwenden */
	align-items: left; /* Elemente vertikal zentrieren */
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 10px;
	margin: 5px auto 20px 30px;
	/* Margin oben/unten auf 30px setzen, automatisch auf der linken Seite, und 30px auf der rechten Seite */
	max-width: 600px; /* Maximale Breite des Profilkastens festlegen */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#kontostand {
	margin-top: 30px;
	font-weight: bold;
}

#iban {
	margin-top: 30px;
	font-weight: bold;
}

#disporahmen {
	margin-top: 30px;
	font-weight: bold;
}

#kontotyp {
	margin-top: 30px;
	font-weight: bold;
}

/* Verlinkungen am rechten Bildschirmrand */

/* Aktionsbox Start */
.aktion {
	padding: 15px;
	text-align: center;
}

.verlinkungen {
	position: fixed; /* Position festlegen */
	top: 30%; /* Oben mittig positionieren */
	transform: translateY(-50%);
	/* Zurück verschieben um die Hälfte der Höhe */
	right: 100px; /* Abstand vom rechten Bildschirmrand */
	display: flex; /* Flexbox verwenden */
	flex-direction: column; /* Vertikale Ausrichtung */
	padding: 5px;
}

.verlinkungen a {
	padding: 10px;
	margin-top: 30px; /* Abstand zwischen den Links */
	text-decoration: none; /* Unterstreichungen entfernen */
}

/* User-Startseite und Kontostand Ende */

/* Stil für Formulareingabefelder */
.internForm input[type="text"], .internForm input[type="email"],
	.internForm input[type="password"] {
	width: 50%; /* Volle Breite des Eingabefeldes */
	padding: 10px; /* Innenabstand des Eingabefeldes */
	margin-bottom: 15px;
	/* Abstand nach unten zwischen den Eingabefeldern */
	border: 1px solid #ccc; /* Rand des Eingabefeldes */
	border-radius: 5px; /* Abgerundete Ecken des Eingabefeldes */
}

/* Stil für Submit-Button im Formular */
button[type="submit"], button[typ="reset"] {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; /* Ändere den Padding nach Bedarf */
	border: none; /* Entfernt die Standard-Bordereigenschaften */
	border-radius: 5px; /* Rundet die Ecken des Buttons */
	font-size: 14px; /* Ändere die Schriftgröße nach Bedarf */
}

/* Button-Hover-Effekt */
button[type="submit"]:hover, button[type="reset"]:hover {
	background-color: #0056b3;
}

/* Zusätzliche globale Stile für Formulareingabefelder und Buttons */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus,
	button[type="submit"]:focus, button[type="reset"]:focus {
	outline: none; /* Entfernt die Standard-Fokusrahmen */
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	/* Fügt einen benutzerdefinierten Fokus-Schatten hinzu */
}