/* Autor: @Selim */
/* validiert */

@import url('navigation.css');
@import url('cookiePopup.css');
@import url('fakeButtons.css');
@import url('javascriptMeldung.css');


/* Globale Stile */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	padding-bottom: 60px; /* Platz für den Footer reservieren */
}

/* User-Startseite und Kontostand */
.grauBackground {
	width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    display: grid;
}

.profile-box {
	grid-column: 1 / 3;
	grid-row: 1;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 15px;
	margin: 15px 110px 20px 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.profile-box img {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
	border: 1px solid #b89e14;
	margin-right: 10px;
}

.profile-box #greeting {
	font-size: 24px;
	font-weight: bold;
	margin-right: 15px;
}

.kontoinformationen {
	grid-column: 1 / 3;
	grid-row: 2;
	background: linear-gradient(to bottom, rgba(184, 158, 20, 0.8) 25%,
		rgba(255, 255, 255, 0) 25%);
	display: inline-block;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 10px 90px 5px 25px;
	margin: 5px 110px 20px 30px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#kontostand {
	margin-top: 10px;
	font-weight: bold;
}

#iban {
	margin-top: 10px;
	font-weight: bold;
}

#disporahmen {
	margin-top: 10px;
	font-weight: bold;
}

#ubersicht {
	margin-top: 2px;
	font-weight: bold;
	font-size: 1.2em;
}

/* Verlinkungen am rechten Bildschirmrand */

/* Aktionsbox Start */
.aktion {
	padding: 15px;
	text-align: center;
}

.aktiontitel {
	margin-left: -15px;
	margin-top: -12px;
	font-weight: bold;
	font-size: 1.2em;
}

.verlinkungen {
	grid-column: 5;
	grid-row: 1 / span 2;
	background: linear-gradient(to bottom, rgba(184, 158, 20, 0.8) 25%	, rgba(255, 255, 255, 0) 25%);
	background-size: auto 170px;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 10px 30px 30px 25px;
	margin: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	
}

/* User-Startseite und Kontostand Ende */

/* Stil für Formulareingabefelder */
.internForm input[type="text"], .internForm input[type="email"],
	.internForm input[type="password"] {
	width: 50%; 
	padding: 10px; 
	margin-bottom: 15px;
	border: 1px solid #ccc; 
	border-radius: 5px; 
}

/* Stil für Submit-Button im Formular */
button[type="submit"], button[typ="reset"] {
	width: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; 
	border: none; 
	border-radius: 5px; 
	font-size: 14px; 
}

/* Button-Hover-Effekt */
button[type="submit"]:hover, button[type="reset"]:hover {
	background-color: #0056b3;
}

/* Zusätzliche globale Stile für Formulareingabefelder und Buttons */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus,
	button[type="submit"]:focus, button[type="reset"]:focus {
	outline: none; 
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*Sicherheitshinweise Content*/
.sicherheitshinweise {
    width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.sicherheitshinweise h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sicherheitshinweise ul {
    list-style-type: none;
    padding: 0;
}

.sicherheitshinweise ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.sicherheitshinweise ul li:before {
    content: '\2022';
    color: #b89e14; /* Bulletpoint */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0.4em;
    position: absolute;
    left: 0;
}

/*Kredit Rechner*/

.kredit-rechner {
    width: 96%;
    margin: auto;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.kredit-rechner h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.input-container {
	padding: 8px;
}

.input-container label {
    font-weight: bold;
}

.input-container input[type="number"],
.input-container input[type="range"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container output {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
    font-weight: bold;
}

.buttonStyle {
	width: 190px;
	height: auto;
	background-color: #b89e14;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px; /* Ändere den Padding nach Bedarf */
	border: none; /* Entfernt die Standard-Bordereigenschaften */
	border-radius: 5px; /* Rundet die Ecken des Buttons */
	font-size: 14px; /* Ändere die Schriftgröße nach Bedarf */
}

.buttonStyle:hover {
	background-color: #0056b3;
}
