<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>edu.thi.servlets.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <display-name>KapitalismusKasse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminBenutzerListeServlet</servlet-name>
    <servlet-class>edu.thi.servlets.AdminBenutzerListeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BenutzerDetailsServlet</servlet-name>
    <servlet-class>edu.thi.servlets.BenutzerDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerlaufServlet</servlet-name>
    <servlet-class>edu.thi.servlets.VerlaufServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>edu.thi.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoeschenServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LoeschenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UeberweisenServlet</servlet-name>
    <servlet-class>edu.thi.servlets.UeberweisenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UeberweisungUeberpruefenServlet</servlet-name>
    <servlet-class>edu.thi.servlets.UeberweisungUeberpruefenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OLD_AdminSetztAdminsServlet</servlet-name>
    <servlet-class>edu.thi.servlets.OLD_AdminSetztAdminsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OLD_AdminSuchtBenutzerServlet</servlet-name>
    <servlet-class>edu.thi.servlets.OLD_AdminSuchtBenutzerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayImageServlet</servlet-name>
    <servlet-class>edu.thi.servlets.DisplayImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>edu.thi.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBenutzerListeServlet</servlet-name>
    <url-pattern>/AdminBenutzerListeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BenutzerDetailsServlet</servlet-name>
    <url-pattern>/BenutzerDetailsServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerlaufServlet</servlet-name>
    <url-pattern>/VerlaufServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoeschenServlet</servlet-name>
    <url-pattern>/LoeschenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UeberweisenServlet</servlet-name>
    <url-pattern>/UeberweisenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UeberweisungUeberpruefenServlet</servlet-name>
    <url-pattern>/UeberweisungUeberpruefenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OLD_AdminSetztAdminsServlet</servlet-name>
    <url-pattern>/AdminSetztAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OLD_AdminSuchtBenutzerServlet</servlet-name>
    <url-pattern>/AdminSuchtBenutzerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayImageServlet</servlet-name>
    <url-pattern>/DisplayImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.AdminBenutzerListeServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.AdminBenutzerListeServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.BenutzerDetailsServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.BenutzerDetailsServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.VerlaufServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.VerlaufServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.UpdateServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.UpdateServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.LoeschenServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.LoeschenServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.UeberweisenServlet/dataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.UeberweisenServlet</injection-target-class>
      <injection-target-name>dataSource</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.LoginServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.LoginServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.UeberweisungUeberpruefenServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.UeberweisungUeberpruefenServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.OLD_AdminSetztAdminsServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.OLD_AdminSetztAdminsServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.OLD_AdminSuchtBenutzerServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.OLD_AdminSuchtBenutzerServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.DisplayImageServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.DisplayImageServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.RegisterServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.RegisterServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>CheckMailServlet</display-name>
    <servlet-name>CheckMailServlet</servlet-name>
    <servlet-class>edu.thi.servlets.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMailServlet</servlet-name>
    <url-pattern>/CheckMailServlet</url-pattern>
  </servlet-mapping>
</web-app>