<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>UeberweisenServlet</display-name>
    <servlet-name>UeberweisenServlet</servlet-name>
    <servlet-class>edu.thi.servlets.UeberweisenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UeberweisenServlet</servlet-name>
    <url-pattern>/UeberweisenServlet</url-pattern>
  </servlet-mapping>
  <display-name>KapitalismusKasse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminSetztAdminsServlet</servlet-name>
    <servlet-class>edu.thi.servlets.AdminSetztAdminsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoeschenServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LoeschenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSuchtBenutzerServlet</servlet-name>
    <servlet-class>edu.thi.servlets.AdminSuchtBenutzerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>edu.thi.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>edu.thi.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>edu.thi.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetztAdminsServlet</servlet-name>
    <url-pattern>/AdminSetztAdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoeschenServlet</servlet-name>
    <url-pattern>/LoeschenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSuchtBenutzerServlet</servlet-name>
    <url-pattern>/AdminSuchtBenutzerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.AdminSetztAdminsServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.AdminSetztAdminsServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.LoeschenServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.LoeschenServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.AdminSuchtBenutzerServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.AdminSuchtBenutzerServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.UpdateServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.UpdateServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.RegisterServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.RegisterServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.LoginServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.LoginServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
  <resource-ref>
    <res-ref-name>edu.thi.servlets.LogoutServlet/ds</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <injection-target>
      <injection-target-class>edu.thi.servlets.LogoutServlet</injection-target-class>
      <injection-target-name>ds</injection-target-name>
    </injection-target>
  </resource-ref>
</web-app>